@use '../page/breakpoints' as b;

.appwatch-grid {
    display: grid;

    grid-gap: 1rem;
    grid-template-columns: repeat(2, auto);

    @include b.breakpoint(b.$bp-tablet-landscape) {
        grid-template-columns: repeat(2, auto);
    }
    @include b.breakpoint(b.$bp-tablet-standing) {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(1, auto);
    }
    @include b.breakpoint(b.$bp-mobile) {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(1, auto);
    }
}