<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" data-th-href="${ applicationCss }" />
    <link rel="icon" type="image/x-icon" data-th-href="${ thumbnails.title }" />
    <link
        rel="shortcut icon"
        type="image/x-icon"
        data-th-href="${ thumbnails.title }"
    />
    <link
        rel="apple-touch-icon"
        type="image/png"
        data-th-href="${ thumbnails.apple }"
        sizes="180x180"
    />
    <link
        rel="icon"
        type="image/png"
        data-th-href="${ thumbnails.android }"
        sizes="192x192"
    />
    <title data-th-text="${ pageTitle } + ' - KLP'">KLP</title>
</head>
